<header>
   <nav>
      <ul>
         <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Distros</a></li>
         <li><a href="/admin/add-distro" class="<%= path === '/admin/add-distro' ? 'active' : '' %>">Add Distro</a></li>
      </ul>
   </nav>
</header>